<div class="row" *ngIf="articles?.length < 0">
  <p>Loading...</p>
</div>

<div class="row" *ngIf="articles?.length > 0">
  <div class="col-md-10">
    <div class="row">
      <div class="col-sm-6 sm-margin-bottom-40" *ngFor="let article of articles">
        <div class="panel panel-default-dark">
          <div class="panel-body">
            <a href="{{ article.url}}" target="_blank">
              <img class="img-responsive center-block" src="{{ article.urlToImage }}" alt="">
            </a>
          </div>
          <div class="panel-footer">
            <h5 class="panel-title">{{ article.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  
  </div>
</div>
