<div class="row" *ngIf="articles?.length < 0">
  <p>Loading...</p>
</div>

<div class="row" *ngIf="articles?.length > 0">
  <div class="col-sm-12 sm-margin-bottom-40" *ngFor="let article of articles">
    <div class="funny-boxes funny-boxes-top-sea">
      <div class="row">
        <div class="col-md-4 funny-boxes-img">
          <img class="img-responsive" src="{{ article.urlToImage }}" alt="">
          <ul class="list-unstyled">
            <li *ngIf="article.author"><i class="fa-fw fa fa-user"></i> {{ article.author }}</li>
            <li *ngIf="article.publishedAt"><i class="fa-fw fa fa-clock-o"></i> {{ article.publishedAt | date:'longDate' }}
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <h2>
            <a href="{{ article.url }}" (click)="getArticleContent(article)">{{ article.title }}</a>
          </h2>
          <p>{{ article.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
